<footer id="footer" class="pt-5 text-muted" style="background-color: black;">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>EDO INNOVATE</h3>
                        <p>59, I.C.E road,<br> off wire road,<br> Benin City,<br> Edo state. <br>
                            <strong>Phone:</strong> +2348068302462<br>
                            <strong>Email:</strong> info@edoinnovates.com<br>
                        </p>
                        <div class="social-links mt-3 pb-1">
                            <a href="javascript:void(0);" class="twitter"><i class="rounded-circle p-2 border text-info la la-twitter"></i></a>
                            <a href="javascript:void(0);" class="facebook"><i class="rounded-circle p-2 border text-primary la la-facebook"></i></a>
                            <a href="javascript:void(0);" class="instagram"><i class="rounded-circle p-2 border text-warning la la-instagram"></i></a>
                            <a href="javascript:void(0);" class="linkedin"><i class="rounded-circle p-2 border text-primary la la-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul style="list-style: none;">
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="/">Home</a></li>
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="/about/">About us</a></li>
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="/programme/aws-restart-edo/">AWS</a></li>
                        <!-- <li><i class="la la-chevron-right"></i> <a class="text-muted" href="/#hub-gallery/"> Halls</a></li>                         -->
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="/news/">News</a></li>
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="/contact/">contact us</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Features</h4>
                    <ul style="list-style: none;">
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="javascript:void(0);">Trainings</a></li>
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="javascript:void(0);">Competition</a></li>
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="javascript:void(0);">Scholarship</a></li>
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="javascript:void(0);">Start Ups</a></li>
                        <li><i class="la la-chevron-right"></i> <a class="text-muted" href="javascript:void(0);">Spacious Halls & Offices</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter pb-4">
                    <h4>Our Newsletter</h4>
                    <p>Sucribe to get Latest Information about the Edo Innovate Community</p>
                    <form method="POST" action="." id="sub_form">
                        {% csrf_token %}
                        <input type="email" name="sub_email" required>
                        <input class="btn btn-success btn-sm rounded-pill" id="sub_form_btn" type="submit" value="Subscribe">
                    </form>
                    <span id="response" class="text-success text-center py-2">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 text-center" style="background-color: #eee;">
        <div class="row">
            <div class="copyright col-4">
            &copy; <span>Edo Innovates</span>
          
        </div>
        <div class="copyright col-4 mx-auto">
            <a href="javascript:void(0);" class="text-muted">Term of use</a>
        </div>
        <div class="copyright col-4">
            <a href="javascript:void(0);" class="text-muted">privacy policy</a>
        </div> 
        </div>
       
    </div>
</footer>

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>
{%load static%}
<script src="{% static 'js/jquery.min.js'%}"></script>
<script type="text/javascript">
    $(document).ready(function (event) {
        $(document).on('submit', '#sub_form', function (event) {
            event.preventDefault();
            document.getElementById('sub_form_btn').value = "Adding...";
            var sub_email = document.querySelector("input[name=sub_email]").value;
            $.ajax({
                type: 'POST',
                url: "{% url 'newsletter' %}",
                data: {
                    'sub_email': sub_email,
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                dataType: 'json',
                success: function (response) {
                    document.getElementById('sub_form_btn').value = "Subscribe";
                    $('#response').html(response['form'])
                    console.log($('#response').html(response['form']));
                },
                error: function (rs, e) {
                    console.log(rs.responseText);
                },
            });
        });
    });
</script>