<header
    id="header"
    class="fixed-top "
>
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">
                <img
                    src="../static/assets/img/edo/logo&badges/badge.png"
                    alt=""
                >
            </a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li
                    {% if request.path=='/' %}
                    class="active"
                    {% endif %}
                ><a href="/">HOME</a></li>
                <li><a
                        {% if request.path=='/' %}
                        href="#about"
                        {% else %}
                        href="/#about/"
                        {% endif %}
                    >About Us</a>
                </li>
                <li class="drop-down">
                    <a
                        {% if request.path=='/' %}
                        href="#what_we_do"
                        {% else %}
                        href="/#what_we_do/"
                        {% endif %}
                    >WHAT
                        WE DO</a>
                    <ul>
                        <li class="drop-down"><a href="#">TRAININGS</a>
                            <ul>
                                <li><a href="/aws-restart-edo/">AWS re/start</a></li>
                                <li><a href="/computer-appreciation/">Computer Appreciation</a></li>
                                <li><a href="/power-edo-bootcamp/">Power Edo Bootcamp</a></li>
                                <li><a href="/plural-site/">Pluralsite</a></li>

                            </ul>
                        </li>
                        <li class="drop-down"><a href="#">COMPETITIONS</a>
                            <ul>
                                <li><a href="/#what_we_do/">Loading...</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#">SCHOLARSHIP</a>
                            <ul>
                                <li><a href="/#what_we_do/">Loading...</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#">START-UPS</a>
                            <ul>
                                <li><a href="/#what_we_do/">Loading...</a></li>
                            </ul>
                        </li>

                        <li><a href="/halls/">SPACIOUS HALLS & OFFICES</a></li>
                    </ul>
                </li>

                <li><a
                        {% if request.path=='/' %}
                        href="#hub-gallery"
                        {% else %}
                        href="/#hub-gallery/"
                        {% endif %}
                    >HUB
                        & GALLERY</a></li>
                <li><a
                        href="#news"
                        onclick="document.getElementById('newslink').click();"
                    >NEWS</a></li>

                <li><a
                        {% if request.path=='/' %}
                        href="#contact"
                        {% else %}
                        href="/#contact/"
                        {% endif %}
                    >CONTACT</a>
                </li>
                <li><a
                        href="#search"
                        id="search_link"
                        onclick="openForm()"
                    ><i class="la la-search"></i></a></li>
                <a
                    href="/news/"
                    id="newslink"
                ></a>
            </ul>
        </nav>
    </div>
</header>
