<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">
                <img src="../static/assets/img/edo/logo&badges/badge.png" alt="">
            </a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">HOME</a></li>
                <li><a href="#about">About Us</a></li>
                <li class="drop-down">
                    <a href="/#what_we_do">WHAT WE DO</a>
                    <ul>
                        <li class="drop-down"><a href="#">TRAININGS</a>
                            <ul>
                                <li><a href="/aws-restart-Benin/">AWS Re/Start</a></li>
                            </ul>
                        </li>
                        <li><a href="#">COMPETITIONS</a></li>
                        <li><a href="#">SCHOLARSHIP</a></li>
                        <li><a href="#">START-UPS</a></li>
                        <li><a href="#">SPACIOUS HALLS & OFFICES</a></li>
                    </ul>
                </li>

                <li><a href="#hub-gallery">HUB & GALLERY</a></li>
                <li><a href="#news">NEWS</a></li>

                <li><a href="#contact">CONTACT</a></li>

            </ul>
        </nav>
    </div>
</header>