{% extends 'base/generic_base.html' %}
{% load static %}
{% load i18n %}
{% load social_share %}
{% block content %}

<section>
    <div class="container" style="padding-top: 7em;">
        <div class="row">
            <div id="home_main_sec" class="col-12 mx-auto px-2" data-scroll-reveal="enter from the bottom after 0.3s">
                <h1 class="font-weight-bold text-center">WHO WE ARE</h1>
                <div class="row py-3">
                    <div class="col-md-10 mx-auto card-front text-center">
                        We are an innovation centre creating the supply of highly skilled ICT talent in Edo State
                        and
                        improving greater access to jobs in the ICT sector. We are located in the heart of Edo
                        state,
                        Benin City.
                        Edoinnovates was launched on 14th June, 2020 by his Excellency, Vice President Yemi Osinbajo
                        and
                        has since inception, seen over 5000 beneficiaries.
                    </div>

                </div>
            </div>
            <div class="col-lg-6 video-box align-self-baseline" data-scroll-reveal="enter from the left after 0.3s">
                <img src="../static/assets/img/edo/home-bg.jpg" class="img-fluid rounded-lg">
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content" data-scroll-reveal="enter from the right after 0.3s">


                <ul style="list-style: none;">
                    <h5 class="font-weight-bold">WHAT WE DO</h5>
                    <li class="pb-2"><i class="la la-check-double text-info"></i>
                        Equip Youth with high demand ICT skill trainings and connect them to jobs in the ICT sector
                    </li>
                    <li class="pb-2"><i class="la la-check-double text-info"></i>
                        Provide trainings and business expansion opportunities for startups through incubation and
                        acceleration programs
                    </li>
                    <li class="pb-2"><i class="la la-check-double text-info"></i>
                        Provide Co-working spaces, training halls, fully equipped ICT labs with fast internet access
                        for trainings, seminars and boot camps
                    </li>

                    <li class="pb-2"><i class="la la-check-double text-info"></i>
                        Provide new and existing businesses with Admin support, Accommodation, mentoring and Tech
                        support services
                    </li>
                    <li class="pb-2"><i class="la la-check-double text-info"></i>
                        Growing the Tech community in Edo State
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

{% endblock content %}