{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<section id="hero">
    <div id="carousel-index" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item slide1 active">
                <div class="carousel-caption d-none d-md-block text-center mx-auto" data-aos="fade-up"
                    data-aos-delay="150" id="caption_text">
                    <h1 class="animated fadeInUp text-warning" style="animation-delay: 1s">
                        AWS RE/START
                    </h1>
                    <p class="text-center animated fadeInDown pb-2 h2" style="animation-delay: 1s;">
                        Edo Benin City
                    </p>
                </div>
            </div>
            <div class="carousel-item slide2">
                <div class="carousel-caption d-none d-md-block">
                    <div class="slide-text slide_style_left">
                        <div class="animated fadeInUp" style="animation-delay: 1s">
                            <small class="section-title h6">
                                EDOBITS - A
                                WEB/GRAPHIC ORGANIZATION
                            </small>

                            <h1>
                                Become a professional
                            </h1>
                        </div>

                        <div class="animated fadeInDown" style="animation-delay: 1s">
                            <p data-animation="animated fadeInLeft">We are creative and interactive business agency, we
                                make creative projects. We have passion, ideas,<br />
                                and ambition for interesting projects.</p>
                            <p class="animated zoomIn" style="animation-delay: 2s">
                                <a href="" target="_blank" class="btn btn-secondary text-white">Get In Touch <i
                                        class="la la-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item slide3">
                <div class="carousel-caption d-none d-md-block">
                    <div class="slide-text slide_style_left">
                        <h1 class="animated fadeInUp" style="animation-delay: 1s">
                            Coven Labs is a Data Science<br />and AI Program
                        </h1>

                        <p class="animated fadeInDown" style="animation-delay: 1s">
                            we make websites are the number one ranked design
                            and
                            marketing team. We build unique and<br />
                            creative websites that will make you more successful.
                        </p>
                        <p class="animated zoomIn" style="animation-delay: 2s">
                            <a href="" target="_blank" class="btn btn-warning text-white">Get In Touch <i
                                    class="la la-arrow-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item slide4">
            <div class="carousel-caption d-none d-md-block">
                <div class="slide-text slide_style_left">
                    <h1 class="animated fadeInUp" style="animation-delay: 1s">
                        We ‎Provide Office Space for Rent
                    </h1>
                    <p class="animated fadeInDown" style="animation-delay: 1s">
                        WAs you know, web design encompasses many different skills and disciplines in the production
                        and<br />
                        maintenance of websites in our days.
                    </p>
                    <p class="animated zoomIn" style="animation-delay: 2s">
                        <a href="" target="_blank" class="btn btn-default text-white">Get In Touch <i
                                class="la la-arrow-right"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-index" role="button" data-slide="prev">
        <span class=" h1 text-white la la-arrow-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-index" role="button" data-slide="next">
        <span class=" h1 text-white la la-arrow-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</section>

<section class="container">
    <p style="font-size: 3vw;">
        <strong>
            READY TO LAUNCH A CAREER IN TECH?
        </strong>
    </p>
    <div class="row border-bottom pb-2">
        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 my-auto" data-aos="fade-up">
            <p>
                AWS re/Start is a free 12 week bootcamp to kickstart your career in tech as a Cloud Support Practitioner
                — run in collaboration with Amazon Web Services and Prince’s Trust. Take the Where Do I Belong in Tech
                Quiz to see if this is the right programme for you.
            </p>
            <p class="font-italic">
                You don’t need any existing experience or qualifications to be part of this training programme – hear
                more from programme graduate Javeriyah below, who became a Systems Engineer after completing AWS
                re/Start.
            </p>

        </div>
        <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="../static/assets/img/edo/opportunities/aws-cohot-1.jpg" alt="" class="img-fluid shadow card"
                style="border-radius: 1em;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pt-3">
            <ul class="row border-left border-right" id="padis">

                <li class="text-justify p-2">
                    <i class="ri-check-double-line text-success h4 pr-2 font-weight-bold"></i>
                    <b class="text-success">Free
                        training and
                        qualification</b> You’ll
                    learn
                    all you
                    need to be
                    successful in a cloud technology career – from the coding languages & technical knowledge of cloud
                    computing to the employment skills that will help you achieve your potential. At the end of the
                    programme you’ll be ready to take your AWS Cloud Practitioner Certification – and we’ll fund you to
                    do it.
                </li>
                <li class="text-justify p-2">
                    <i class="ri-check-double-line text-success h4 pr-2 font-weight-bold"></i>
                    <b class="text-success">Connect with employers</b> At the end of the programme, Generation will
                    connect
                    you with employers
                    hiring
                    for cloud and devops engineer roles, support you through your application, and help you transition
                    into
                    your working life.
                </li>

                <li class="text-justify p-2">
                    <i class="ri-check-double-line text-success h4 pr-2 font-weight-bold"></i>
                    <b class="text-success">Free travel and lunch</b> And if you’re receiving universal credit or other
                    benefits, we’ll work with
                    you to
                    make sure you continue to receive these during the programme.
                </li>

            </ul>
            <p class="text-center">
                Applications are closed for our November programme. Our next programme will be in February 2021, please
                register your interest, and we’ll contact you once applications open.
            <h6>
                <small>
                    This programme is delivered in collaboration with West Midlands Combined Authority, AWS (Amazon Web
                    Services) and the Prince’s Trust.
                </small>
            </h6>
            </p>
            <style>
                header {
                    width: 100vw;
                    margin: 0;
                    float: left;
                    padding: 1rem 0;
                }

                article .active {
                    z-index: 999;
                }

                #steps {
                    margin-top: 9em;
                    z-index: 99999;
                    position: relative !important;
                    top: 3em !important;
                    float: left;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #fff;
                    box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1), 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
                }

                #steps div {
                    float: left;
                    border-radius: 50%;
                    background-color: #6f8db3;
                    padding: 1vw;
                    margin: 1vw;
                    box-sizing: border-box;
                    width: 9vw;
                    height: 6vw;
                    color: #c0dafa;
                    font-size: 2rem;
                    text-align: center;
                    cursor: pointer;
                    box-shadow: inset 100px 0 0 #0e56ad;
                }

                #steps div.active {
                    color: #fff;
                    /* background-color: #38e;
                     */
                    background-color: #38434b;
                    box-shadow: inset 0 0 0 #38e;
                }

                #steps div.done {
                    color: #38e;
                    box-shadow: inset -100px 0 0 #91bff6;
                }

                .article_container {
                    float: left;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 40vw;
                }

                article {
                    width: 100%;
                    top: 0;
                    position: absolute;
                    background-color: #fff;
                    box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1), 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
                }

                article.active_m_2 {
                    left: -110vw;
                    opacity: 0;
                }

                article.active_m_1 {
                    left: -110%;
                    opacity: 0.3;
                }

                article.active {
                    left: 0;
                    opacity: 1;
                }

                article.active_p_1 {
                    left: 110%;
                    /* opacity: 0.3; */
                    opacity: -6.7;
                }

                article.active_p_2 {
                    left: 110vw;
                    opacity: 0;
                }

                article * {
                    box-sizing: border-box;
                    width: 100%;
                    margin: 0;
                    padding: 1rem;
                }

                article h2 {
                    background-color: #38e;
                    color: #fff;
                    font-size: 1.5rem;
                    letter-spacing: 0.12rem;
                }

                article p {
                    width: 100%;
                    line-height: 1.2rem;
                }

                * {
                    transition: all 1000ms;
                }

                @media (max-width: 768px) {
                    #steps {
                        margin-top: 13em;
                        z-index: 99999;
                        position: relative !important;
                        top: 3em !important;
                    }

                    #steps div {
                        width: 16vw;
                        height: 16vw;
                    }

                    article {
                        width: 21em;
                        top: 0;
                        left: -6em !important;
                    }
                }
            </style>


            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="article_container col-md-12">
                        <article class="active">
                            <h2>STEP 1: COMPLETE SOME ONLINE TASKS</h2>
                            <p class="card">
                                In your own time, complete some short tasks related to the programme. Don’t worry, you
                                don’t need to have any existing knowledge or experience to be able to complete them.
                            </p>
                        </article>
                        <article class="active_p_1">
                            <h2>STEP 2: COME TO AN INFORMATION SESSION</h2>
                            <p class="card">Efficiently unleash cross-media information without cross-media value.
                                Quickly maximize
                                timely
                                deliverables for real-time schemas. Dramatically maintain clicks-and-mortar
                                solutions
                                without
                                functional solutions.</p>
                        </article>
                        <article class="active_p_2">
                            <h2>STEP 3: COMPLETELY</h2>
                            <p class="card">Completely synergize resource sucking relationships via premier niche
                                markets.
                                Professionally
                                cultivate one-to-one customer service with robust ideas. Dynamically innovate
                                resource-leveling
                                customer service for state of the art customer service.</p>
                        </article>
                        <article class="active_p_2">
                            <h2>STEP 4: OBJECTIVELY</h2>
                            <p class="card">Objectively innovate empowered manufactured products whereas parallel
                                platforms.
                                Holisticly
                                predominate extensible testing procedures for reliable supply chains. Dramatically
                                engage
                                top-line web services vis-a-vis cutting-edge deliverables.</p>
                        </article>
                        <article class="active_p_2">
                            <h2>STEP 5: PROACTIVELY</h2>
                            <p class="card">Proactively envisioned multimedia based expertise and cross-media growth
                                strategies.
                                Seamlessly
                                visualize quality intellectual capital without superior collaboration and
                                idea-sharing.
                                Holistically pontificate installed base portals after maintainable products.</p>
                        </article>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="steps">
                    <div data-step="1" class="active">1</div>
                    <div data-step="2">2</div>
                    <div data-step="3">3</div>
                    <div data-step="4">4</div>
                    <div data-step="5">5</div>
                </div>

            </div>




            {% block extra_scripts %}
            <script>
                $(document).ready(function ($) {
                    $('#steps > div').click(function () {
                        var i = $(this).attr('data-step') - 1;

                        $('#steps > div').each(function (index) {
                            if (index < i) {
                                $(this).addClass('done');
                                $(this).removeClass('active');
                            } else if (index == i) {
                                $(this).addClass('active');
                                $(this).removeClass('done');
                            } else {
                                $(this).removeClass('done');
                                $(this).removeClass('active');
                            }
                        });

                        $('article').each(function (index) {
                            if (index < i - 1) {
                                clearClasses($(this));
                                $(this).addClass('active_m_2');
                            } else if (index > i + 1) {
                                clearClasses($(this));
                                $(this).addClass('active_p_2');
                            } else if (index < i) {
                                clearClasses($(this));
                                $(this).addClass('active_m_1');
                            } else if (index > i) {
                                clearClasses($(this));
                                $(this).addClass('active_p_1');
                            } else {
                                clearClasses($(this));
                                $(this).addClass('active');
                            }
                        });

                        function clearClasses(item) {
                            var a = [
                                "active_m_2",
                                "active_m_1",
                                "active",
                                "active_p_1",
                                "active_p_2"
                            ];
                            a.forEach(function (class_name) {
                                item.removeClass(class_name);
                            });
                        }

                    });

                });
            </script>
            {% endblock extra_scripts %}





        </div>
        <div class="col-md-4 pt-2">
            <div class="shadow">
                <div class="text-center py-1">
                    <h3> PROGRAM LENGTH</h3>
                    <h1 class="text-warning" style="font-family:Arial Black;">12 weeks</h1>
                    Monday to Friday, 9am to 5:30pm
                </div>

                <h6 class="text-center pt-2"> <b>REQUIREMENTS</b></h6>
                <ul style="list-style: none;" class="text">
                    <li>
                        <i class="la la-cog"></i> Aged 18-29
                    </li>
                    <li>
                        <i class="la la-cog"></i> Not working regularly more than 16 hours per week, and not in
                        education or training
                    </li>
                    <li>
                        <i class="la la-cog"></i> Can demonstrate your interest in a career in technology
                    </li>
                    <li>
                        <i class="la la-cog"></i> Have the legal right to work & live in the UK
                    </li>
                    <li>
                        <i class="la la-cog"></i> Currently living in Birmingham, Solihull, Sandwell, Dudley, Walsall,
                        Wolverhampton, or Coventry
                        (includes Bedworth/Nuneaton)
                    </li>
                    <li>
                        <i class="la la-cog"></i> Available full time for 12 weeks, and ready to start a full time job
                        straight after the course
                    </li>
                </ul>
            </div>
            <section id="testimonials" class="testimonials">
                <div class="container" data-aos="zoom-in">

                    <div class="owl-carousel testimonials-carousel">

                        <div class="testimonial-item">
                            <img src="../static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img"
                                alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                                rhoncus.
                                Accusantium
                                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
                                alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid
                                cillum eram
                                malis
                                quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
                                alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                duis
                                minim tempor
                                labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img"
                                alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                minim
                                velit minim
                                dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
                                alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                veniam enim
                                culpa
                                labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi
                                cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                    </div>

                </div>
            </section>
        </div>
</section>

{% endblock content %}