{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    header {
        background: rgb(60 59 68 / 0%);
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(1, 1);
        }

        to {
            -webkit-transform: scale(1.5, 1.5);
        }
    }

    @keyframes zoom {
        from {
            transform: scale(1, 1);
        }

        to {
            transform: scale(1.5, 1.5);
        }
    }

    .carousel-inner .item>img {
        -webkit-animation: zoom 25s;
        animation: zoom 25s;
    }
</style>

<section id="hero">
    <div id="carousel-index" class="myCarousel carousel slide carousel-fade" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-index" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-index" data-slide-to="1"></li>
            <li data-target="#carousel-index" data-slide-to="2"></li>
            <li data-target="#carousel-index" data-slide-to="3"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
            {%if pageslider%}
            {%for slide in pageslider|slice:"1"%}
            {%if slide.select_page == 'aws_page'%}
            <div class="carousel-item  {%if forloop.counter == 1%}active{%endif%} item">
                <img src="{{slide.slide_image.url}}" class="img-fluid" alt="" id="slide_img">
                <div class="carousel-caption text-center mx-auto" data-aos="fade-up" data-aos-delay="150"
                    id="caption_text">
                    <small class="section-title h6">
                        {{slide.caption_top_title_small|linebreaksbr}}
                    </small>

                    <h1 class="animated {{slide.top_slider_animation_gesture}}" style="animation-delay: 1s">
                        {{slide.caption_mid_title_large|linebreaksbr}}
                    </h1>
                    <p class="text-center animated {{slide.bottom_slider_animation_gesture}} pb-2"
                        style="animation-delay: 1s;">
                        {{slide.caption_buttom_title_small|linebreaksbr}}
                    </p>
                    <!-- <p class="animated {{slide.slider_button_animation_gesture}}" style="animation-delay: 2s">
                        <a href="#stage_sec_start" class="btn btn-outline-warning">{{slide.button_caption}} <i
                                class="la la-arrow-right"></i>
                        </a>
                    </p> -->
                </div>
            </div>
            {%endif%}
            {%endfor%}
            {%else%}
            <div class="carousel-item active item">
                <img src="../static/assets/img/edo/aws.jpg" class="img-fluid" alt="" id="slide_img">
                <div class="carousel-caption">
                    <div class="slide-text slide_style_left">
                        <div class="animated fadeInUp" style="animation-delay: 1s">
                            <h1>
                                AWS Restart
                            </h1>
                            <small class="section-title h6">
                                Benin
                            </small>
                            <div class="text-center">
                                <a href="#aws-apply" class="btn btn-default btn-sm rounded-pill">
                                    Get Started <i class="la la-angle-right"></i>
                                </a>

                            </div>
                        </div>
                        <div class="animated fadeInDown" style="animation-delay: 1s">
                            <p data-animation="animated fadeInLeft"></p>

                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carousel-index" role="button" data-slide="prev">
        <span class=" h1 text-white la la-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-index" role="button" data-slide="next">
        <span class=" h1 text-white la la-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
    </div>
</section>


<section class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="section-title py-3" style="padding-bottom: 4px !important;">
        <p> READY TO LAUNCH A CAREER IN TECH?</p>
    </div>
    <div class="row border-bottom pb-2">
        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 my-auto" data-aos="fade-up" id="note_sec">
            <p>
                AWS re/Start is a free 12-week Bootcamp to kickstart your career in tech as a Cloud Support Practitioner
                — run in collaboration with Amazon Web Services and Edojobs.
                <!-- Take the <a
                    href="javascript:void(0);" class="text-center text-info"
                    onclick="document.getElementById('aws_reg_sec').className='d-block mx-auto';">Where Do I Belong in
                    Tech
                    Quiz</a> to see if this is the right programme for you. -->
            </p>
            <div class="font-italic">
                <p>You don’t need any existing experience or qualifications to be part of this training programme.</p>
                <!-- <p> <a href="https://youtu.be/Lyqx7uAwHiQ" class="venobox btn-watch-video text-success"
                        data-vbtype="video" data-autoplay="true"><i class="icofont-play-alt-2"></i> See What
                        Benefitiaries are saying </a></p>
                <div class="text-center">
                    <a href="javascript:void(0);" class="btn btn-outline-default btn-sm rounded-pill"
                        onclick="document.getElementById('aws_reg_sec').className='d-block mx-auto';">
                        Get Started <i class="la la-angle-right"></i>
                    </a>

                </div> -->
            </div>

        </div>

        <div class="about col-lg-6 order-1 order-lg-2 text-center video-box align-self-baseline" data-aos="zoom-in"
            data-aos-delay="100">
            <img src="../static/assets/img/edo/opportunities/aws-cohot-1.jpg" class="img-fluid" alt="">
            <a href="https://youtu.be/Lyqx7uAwHiQ" class="venobox play-btn mb-4" data-vbtype="video"
                data-autoplay="true"></a>
        </div>

        <!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="../static/assets/img/edo/opportunities/aws-cohot-1.jpg" alt="" class="img-fluid"
                style="border-radius: .5em;">
        </div> -->
    </div>

    <div class="row  py-2" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-12 section-title">
            <h2>AWS Benin</h2>
            <p>ABOUT THE PROGRAM</p>
        </div>
        <div class="col-md-8 border-left border-right pb-3" id="padis">
            <ul class="p-3" style="list-style: none;">
                <li class="text-justify p-2" data-aos="fade-up" data-aos-delay="100">
                    <i class="ri-check-double-line text-success h4 pr-2 font-weight-bold"></i>

                    You will learn AWS Cloud fundamentals to enable you succeed in entry-level cloud positions. Through
                    real-world, scenario-based exercises, labs, and coursework, you will build Linux, Python,
                    networking, security, and relational database skills.
                </li>
                <li class="text-justify p-2" data-aos="fade-up" data-aos-delay="100">
                    <i class="ri-check-double-line text-success h4 pr-2 font-weight-bold"></i>
                    AWS re/Start also provides learners with professional skills including effective communication,
                    collaboration, resume writing, and interview coaching to prepare them for employer meetings and
                    interviews.
                </li>
            </ul>
        </div>


        <div class="col-md-4" data-aos="fade-left" data-aos-delay="100">
            <div class="py-1 text-center">
                <h3> Upcoming Course Dates</h3>
            </div>
            <div class="border-bottom py-2">
                <p class="font-weight-bold">February 9th 2021 <i class="la la-desktop float-right"></i></p>
                <small>Application Due February 2nd 2021</small>
            </div>
            <div class="border-bottom py-2">
                <p class="font-weight-bold">May 2021 <i class="la la-desktop float-right"></i></p>
            </div>

        </div>
    </div>
</section>
<section class="container border" id="aws-apply">
    <div class="row">
        <div class="col-10 mx-auto">
            <ol class="faq-list number-circle-list number-circle-list--tertiary-color" id="color_bullet">

                <li class="number-circle-list--list-item warn_li" data-aos="fade-up" data-aos-delay="100">

                    <a data-toggle="collapse" href="#faq1">
                        <span class="text-left font-weight-bold">Learner
                            Profile
                        </span>
                        <i class="text-right float-right la la-angle-down font-weight-bold"></i>
                    </a>

                    <ul id="faq1" class="collapse show text-justify" data-parent=".faq-list" style="list-style: none;">
                        <p class="font-weight-bold">
                            Requirements for the AWS Restart Programme
                        </p>
                        <li class="color_bullet_li">
                            Must be 18 years and above
                        </li>
                        <li class="color_bullet_li">
                            Must have at completed secondary school education
                        </li>
                        <li class="color_bullet_li">
                            Must commit to a 12 week full-time (Mon-Fri) in-class training
                        </li>
                        <li class="color_bullet_li">
                            Must own or have access to a laptop
                        </li>
                        <li class="color_bullet_li">
                            Must have interest in cloud computing
                        </li>
                    </ul>
                </li>


                <li class="number-circle-list--list-item" data-aos="fade-up" data-aos-delay="150">
                    <a data-toggle="collapse" href="#faq2" class="collapsed font-weight-bold">
                        Application Proccess
                        <i class="text-right float-right la la-angle-down font-weight-bold"></i>
                    </a>
                    <ul id="faq2" class="collapse" data-parent=".faq-list" style="list-style: none;">
                        <p class="font-weight-bold">
                            To Register For the Programm
                        </p>
                        <li class="color_bullet_li_2">
                            <a href="javascript:void(0);" class="text-center text-info"
                                onclick="document.getElementById('aws_reg_sec').className='d-block mx-auto';">
                                Submit an application
                            </a>
                        </li>
                        <li class="color_bullet_li_2">
                            Take an online test
                        </li>
                        <li class="color_bullet_li_2">
                            Candidates who meet the assessment criteria would be invited for an interview
                        </li>
                        <li class="color_bullet_li_2">
                            Successful candidates would be offered admission into the program. Please note, this
                            application process is very competitive and not all applicants will be accepted for our
                            limited slots.
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</section>
<!-- <section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="section-title" data-aos="fade-up">
                <p class="h5">Meet Your Instructors</p>
                <small>Learn from certified teachers with years of real-world training experience. Our instructors
                    don't just teach you what you need to know, but how to learn it.

                </small>
            </div>
            <div class="col-md-12 mx-auto text-left">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for member in team%}
                        {% if member.office == 'aws_instructors' and request.path == "/aws-restart-edo/" %}
                        <div class="carousel-item {% if forloop.counter == 1%} active {%endif%}">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <img src="{%if member.picture%} {{member.picture.url}} {%else%} ../static/assets/img/edo/logo&badges/badge.png {%endif%}"
                                                class="rounded" alt="" id="aws_team_img">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <h4>{{member.full_names}}</h4>
                                            <span>{{member.position}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pt-5">
                                    <div class="row mt-5">
                                        <p class="col-12 text-left mx-auto"><b>Connect</b></p>
                                        <div class="col-2">
                                            <a href="mailto:{{member.email}}" target="blank">
                                                <span
                                                    class="h3 border rounded-circle text-danger la la-envelope "></span>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="tel:{{member.email}}" target="blank">
                                                <span class="h3 border rounded-circle text-success la la-phone"></span>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="{{member.link_to_your_twitter_account}}" target="blank"> <span
                                                    class="h3 border rounded-circle text-info la la-twitter"></span></a>
                                        </div>
                                        <div class="col-2">
                                            <a href="{{member.link_to_your_linkedin_account}}" target="blank"><span
                                                    class="h3 border rounded-circle text-primary la la-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    <div class="pt-5 px-5" id="aws_tesm_slide_ctrl">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="la la-angle-left border rounded-circle text-info h1"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="la la-angle-right border rounded-circle text-info h1"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<div id="aws_reg_sec" class="d-none">
    <div class="pt-5 text-right">
        <a href="javascript:void(0);" id="aws_reg_cancel"
            onclick="document.getElementById('aws_reg_sec').className='d-none';">
            <b class="h1 text-white font-weight-bold">&times;</b></a>
    </div>
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSeTpSxsHrJ7vMCDPXGIeowT_O5mmi0Pt1tHTC9aKnL96E4mnQ/viewform?usp=sf_link"
        width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0"
        class="pt-4 col-md-12 animated zoomIn" data-aos="fade-up" data-aos-delay="100"
        style="animation-delay: 1s">Loading…</iframe>
</div>




{% include "../pages/contact.html" %}
{% endblock content %}