{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load social_share %}
{% block content %}



<section id="hero">
    <div id="carousel-index" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <!-- <li data-target="#carousel-index" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-index" data-slide-to="1"></li>
            <li data-target="#carousel-index" data-slide-to="2"></li>
            <li data-target="#carousel-index" data-slide-to="3"></li> -->
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slide1 active">
                <div class="carousel-caption text-center mx-auto" data-aos="fade-up" data-aos-delay="150"
                    id="caption_text">
                    <h1 class="animated fadeInUp" style="animation-delay: 1s">
                        Edo Innovation hub <br />
                        is an ICT center in Edo state
                    </h1>
                    <p class="text-center animated fadeInDown pb-2" style="animation-delay: 1s;">
                        We make websites are the number one
                        ranked design and marketing team. We build unique and<br />
                        creative websites that will make you more successful.
                    </p>
                    <p class="animated zoomIn" style="animation-delay: 2s">
                        <a class="venobox btn-watch-video btn btn-danger shadow" href="https://youtu.be/xU4Tmb_jUkc"
                            data-vbtype="video" data-autoplay="true"> <i>&ensp;</i> Watch
                            Video <i class="icofont-play-alt-2"></i></a>
                    </p>
                </div>
            </div>
            <div class="carousel-item slide2">
                <div class="carousel-caption">
                    <div class="slide-text slide_style_left">
                        <div class="animated fadeInUp" style="animation-delay: 1s">
                            <small class="section-title h6">
                                EDOBITS - A
                                WEB/GRAPHIC ORGANIZATION
                            </small>

                            <h1>
                                Become a professional
                            </h1>
                        </div>

                        <div class="animated fadeInDown" style="animation-delay: 1s">
                            <p data-animation="animated fadeInLeft">We are creative and interactive business agency, we
                                make creative projects. We have passion, ideas,<br />
                                and ambition for interesting projects.</p>
                            <p class="animated zoomIn" style="animation-delay: 2s">
                                <a href="#what_we_do" class="btn btn-secondary text-white">Get In Touch
                                    <i class="la la-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item slide3">
                <div class="carousel-caption">
                    <div class="slide-text slide_style_left">
                        <h1 class="animated fadeInUp" style="animation-delay: 1s">
                            Coven Labs is a Data Science<br />and AI Program
                        </h1>

                        <p class="animated fadeInDown" style="animation-delay: 1s">
                            we make websites are the number one ranked design
                            and
                            marketing team. We build unique and<br />
                            creative websites that will make you more successful.
                        </p>
                        <p class="animated zoomIn" style="animation-delay: 2s">
                            <a href="#what_we_do" class="btn btn-warning text-white">Get In Touch <i
                                    class="la la-arrow-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item slide4">
            <div class="carousel-caption">
                <div class="slide-text slide_style_left">
                    <h1 class="animated fadeInUp" style="animation-delay: 1s">
                        We ‎Provide Office Space for Rent
                    </h1>
                    <p class="animated fadeInDown" style="animation-delay: 1s">
                        WAs you know, web design encompasses many different skills and disciplines in the production
                        and<br />
                        maintenance of websites in our days.
                    </p>
                    <p class="animated zoomIn" style="animation-delay: 2s">
                        <a href="#what_we_do" class="btn btn-default text-white">Get In Touch <i
                                class="la la-arrow-right"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-index" role="button" data-slide="prev">
        <span class=" h1 text-white la la-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-index" role="button" data-slide="next">
        <span class=" h1 text-white la la-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

    <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

     
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://i.postimg.cc/wTBDN2JW/1.jpg" alt="...">
                <div class="carousel-caption">
                    <h2 class="animated bounceInRight" style="animation-delay: 1s">We Are Reliable</h2>
                    <h3 class="animated bounceInLeft" style="animation-delay: 2s">Lorem ipsum dolor sit amet.</h3>
                </div>
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/GhHwf0Gv/2.jpg" alt="...">
                <div class="carousel-caption">
                    <h2 class="animated slideInDown" style="animation-delay: 1s">We Deliver On Time</h2>
                    <h3 class="animated slideInRight" style="animation-delay: 2s">Lorem ipsum dolor sit amet.</h3>
                </div>
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/ncsgk4fk/3.jpg" alt="...">
                <div class="carousel-caption">
                    <h2 class="animated zoomIn" style="animation-delay: 1s">Best Customer Support</h2>
                    <h3 class="animated zoomIn" style="animation-delay: 2s">Lorem ipsum dolor sit amet.</h3>
                </div>
            </div>

        </div>

      
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->

    </header>


</section>


<main id="main">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-end">
                <div class="col-lg-11">
                    <div class="row justify-content-end">

                        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="icofont-workers-group"></i>
                                <span data-toggle="counter-up">65</span>
                                <p>Tranings</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="icofont-award"></i>
                                <span data-toggle="counter-up">85</span>
                                <p>Comptetions</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="icofont-read-book-alt"></i>
                                <span data-toggle="counter-up">12</span>
                                <p>Scholarships</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="icofont-ui-office"></i>
                                <span data-toggle="counter-up">15</span>
                                <p>opportunities</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
                    <img src="../static/assets/img/edo/about.png" class="img-fluid" alt="">
                    <a href="https://youtu.be/xU4Tmb_jUkc" class="venobox play-btn mb-4" data-vbtype="video"
                        data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 pt-3 pt-lg-0 content">
                    <h5 class="font-weight-bold">WHO WE ARE?</h5>
                    <p class="font-italic">
                        Edo Innovates, is a cluster for technology, inventors, entrepreneurs situated in the hearts of
                        Benin-City, Edo State. Launched on the 14th of June 2018 by his Excellency, Vice President Yemi
                        Osinbanjo, the hub has seen over 5000 beneficiaries since its inception.
                    </p>

                    <h5 class="font-weight-bold">WHAT WE DO</h5>
                    <ul>
                        <li><i class="bx bx-check-double"></i>
                            Up skill youths with ICT Skills with connect them to jobs in the tech sector
                        </li>
                        <li><i class="bx bx-check-double"></i>
                            Provide training and business expansion opportunities for startups and small businesses
                        </li>
                        <li><i class="bx bx-check-double"></i>
                            Provide co-working spaces, training halls, internet and other services to businesses within
                            Edo
                        </li>

                        <li><i class="bx bx-check-double"></i>
                            Provide new and existing businesses with Admin Support, Accommodation, Mentoring and Tech
                            Support services.
                        </li>
                        <li><i class="bx bx-check-double"></i>
                            Fully equipped ICT Labs with fast internet access for ICT trainings, seminars and boot
                            camps.
                        </li>
                    </ul>

                </div>


            </div>

        </div>
    </section>

    <section id="about-boxes" class="about-boxes">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <img src="../static/assets/img/edo/about/edo-jobs-logo.jpg" style="height: 12em;"
                            class="img-fluid card-img-top border" alt="...">
                        <div class="card-icon">
                            <i class="ri-brush-4-line"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Jobs</a></h5>
                            <p class="card-text">
                                The <b>Edo Innovates</b> is a sublet of the Skill Development Center (Edojobs) set up by
                                his
                                Excellency Governor Godwin Obaseki, the hub sits at the heart of Benin City with an aim
                                to seeks/address the problem of providing jobs for the teeming residents of Edo by
                                seeking innovation in ICT and Technology.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <img src="../static/assets/img/edo/about/startups2.jpeg" style="height: 12em;"
                            class="img-fluid card-img-top" alt="...">
                        <div class="card-icon">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Start-Ups</a></h5>
                            <p class="card-text">
                                <span id="half-text">
                                    The Hub was designed to help the very best founders and startups by facilitating
                                    access
                                    to high quality work spaces and infrastructure, Teaching and Learning, Early stage
                                    investment capital, Investor and Peer networks. <a href="javascript:void(0);"
                                        onclick="document.getElementById('full-text').style.display=''; document.getElementById('half-text').style.display='none';">more
                                        <i class="la la-angle-down"></i></a>
                                </span>

                                <span id="full-text" style="display: none;">
                                    The Hub was designed to help the very best founders and startups by facilitating
                                    access
                                    to high quality work spaces and infrastructure, Teaching and Learning, Early stage
                                    investment capital, Investor and Peer networks. Edo Innovation hub is positioned at
                                    improving the livelihood of Edo residents through different innovation programs and
                                    trainings that leads to employment and entrepreneurship opportunities in the State.
                                    <a href="javascript:void(0);"
                                        onclick="document.getElementById('full-text').style.display='none'; document.getElementById('half-text').style.display='';">less
                                        <i class="la la-angle-up"></i></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <img src="../static/assets/img/edo/about/partners.jpg" style="height: 12em;"
                            class="img-fluid card-img-top" alt="...">
                        <div class="card-icon">
                            <i class="las la-handshake"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Partnerships</a></h5>
                            <p class="card-text">
                                The Edo Innovates hub as so far partnered with many notable local, national and
                                international organizations and can boost of the state of the art facility for
                                trainings, meetings, events and work spaces for ICT related activities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="what_we_do" class="features">
        <div class="container" data-aos="fade-up">

            <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-3">
                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                        <i class="la la-user-check"></i>
                        <h4 class="d-none d-lg-block">Tranings</h4>
                    </a>
                </li>
                <li class="nav-item col-3">
                    <a class="nav-link" data-toggle="tab" href="#tab-2">
                        <i class="la la-award"></i>
                        <h4 class="d-none d-lg-block">Comptetions</h4>
                    </a>
                </li>
                <li class="nav-item col-3">
                    <a class="nav-link" data-toggle="tab" href="#tab-3">
                        <i class="la la-book"></i>
                        <h4 class="d-none d-lg-block">Scholarships</h4>
                    </a>
                </li>
                <li class="nav-item col-3">
                    <a class="nav-link" data-toggle="tab" href="#tab-4">
                        <i class="la la-door-open"></i>
                        <h4 class="d-none d-lg-block">opportunities</h4>
                    </a>
                </li>
            </ul>

            <div class="tab-content border-bottom">

                <div class="tab-pane active show" id="tab-1">
                    {% for prog in programme%}
                    {%if prog.programme_type == 'TRAINING' %}
                    <div class="w3-content w3-display-container">
                        <div class="row {{prog.programme_type}}">
                            <p class="text-info col-12 h4">{{prog.title}} <span>|{{prog.date_from|date}} -
                                    {{prog.date_to|date}}|</span></p>
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 my-auto">
                                <article class="col-md-12 single-post no-gutters border-top">
                                    <div class="single-post-content-wrapper text-justify">
                                        <p class="text-justify">
                                            {{prog.description|truncatechars:700}} &ensp;
                                            <a href="{{prog.link_to_program}}" class="font-weight-bold text-success">See
                                                More..</a>
                                        <div class="row mx-auto text-center">
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_linkedin '{{prog.link_to_program}}' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_facebook '{{prog.link_to_program}}' '<i class="btn btn-primary btn-xs la la-facebook"></i>'%}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_twitter 'NEW!: #{{prog.title}}'   '{{prog.link_to_program}}'   '<i class="btn btn-info btn-xs la la-twitter"></i>' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                <a href="whatsapp://send?text=*{{prog.title}}:* {{prog.description|safe|truncatechars:600}}See More@ http://www.edoinnovate.com/"
                                                    data-action="share/whatsapp/share" target="_blank"> <i
                                                        class="btn btn-success btn-xs la la-whatsapp"></i>
                                                </a>
                                            </td>
                                        </div>
                                        </p>
                                    </div>

                                </article>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{%if prog.programme_banner%} {{prog.programme_banner.url}} {%else%} ../static/assets/img/edo/logo&badges/badge.png {%endif%}"
                                    alt="" class="img-fluid" id="tab_img_2">
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}

                    {% for prog in programme|slice:":1" %}
                    {%if prog.programme_type == 'TRAINING' %}
                    {% if forloop.counter == 0 %}
                    <marquee behavior="" direction="">
                        There Are Currently No Avalible Programme in This Category <b>Please Check Back soon</b>
                    </marquee>
                    {%endif%}
                    {%endif%}
                    {%endfor%}

                    {% for prog in programme|slice:":1" %}
                    {%if prog.programme_type == 'TRAINING' %}
                    <button style="display:none" id="prev_but" class="text-white btn btn-warning float-left"
                        onclick="plusDivs(-1)">
                        <i class="la la-arrow-left"></i>
                    </button>
                    <button class="text-white btn btn-warning float-right" id="next_but" style="display:none"
                        onclick="plusDivs(1); document.getElementById('prev_but').style.display='';">
                        <i class="la la-arrow-right"></i>
                    </button>
                    <script>
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n) {
                            showDivs(slideIndex += n);
                        }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("{{prog.programme_type}}");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            x[slideIndex - 1].style.display = "";
                        }
                    </script>
                    {%endif%}
                    {%endfor%}
                    {% for prog in programme|slice:":2" %}
                    {%if prog.programme_type == 'TRAINING' %}
                    {%if not forloop.last %}
                    <script>
                        document.getElementById('next_but').style = "display: '';";                   
                    </script>
                    {% endif %}
                    {%endif%}
                    {%endfor%}
                </div>

                <div class="tab-pane" id="tab-2">
                    {% for prog in programme%}
                    {%if prog.programme_type == 'COMPETITION' %}
                    <div class="w3-content w3-display-container">
                        <div class="row {{prog.programme_type}}">
                            <h3 class="text-info col-12">{{prog.title}} <span>|{{prog.date_from|date}} -
                                    {{prog.date_to|date}}|</span></h3>
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 my-auto">
                                <article class="col-md-12 single-post no-gutters border-top">
                                    <div class="single-post-content-wrapper text-justify">
                                        <p class="text-justify">
                                            {{prog.description|truncatechars:1000}} &ensp;
                                            <a href="{{prog.link_to_program}}" class="font-weight-bold text-success">See
                                                More..</a>
                                        <div class="row">
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_linkedin '{{prog.link_to_program}}' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_facebook '{{prog.link_to_program}}' '<i class="btn btn-primary btn-xs la la-facebook"></i>'%}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_twitter 'NEW!: #{{prog.title}}'   '{{prog.link_to_program}}'   '<i class="btn btn-info btn-xs la la-twitter"></i>' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                <a href="whatsapp://send?text=*{{prog.title}}:* {{prog.description|safe|truncatechars:600}}See More@ http://www.edoinnovate.com/"
                                                    data-action="share/whatsapp/share" target="_blank"> <i
                                                        class="btn btn-success btn-xs la la-whatsapp"></i>
                                                </a>
                                            </td>
                                        </div>
                                        </p>
                                    </div>

                                </article>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{%if prog.programme_banner%} {{prog.programme_banner.url}} {%else%} ../static/assets/img/edo/logo&badges/badge.png {%endif%}"
                                    alt="" class="img-fluid" id="tab_img_2">
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}

                    {% for prog in programme|slice:":1" %}
                    {%if prog.programme_type == 'TRAINING' %}
                    {% if forloop.counter == 0 %}
                    <marquee behavior="" direction="">
                        There Are Currently No Avalible Programme in This Category <b>Please Check Back soon</b>
                    </marquee>
                    {%endif%}
                    {%endif%}
                    {%endfor%}

                    {% for prog in programme|slice:":1" %}
                    {%if prog.programme_type == 'COMPETITION' %}
                    <button style="display:none" id="prev_but" class="text-white btn btn-warning float-left"
                        onclick="plusDivs(-1)">
                        <i class="la la-arrow-left"></i>
                    </button>
                    <button class="text-white btn btn-warning float-right" id="next_but" style="display:none"
                        onclick="plusDivs(1); document.getElementById('prev_but').style.display='';">
                        <i class="la la-arrow-right"></i>
                    </button>
                    <script>
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n) {
                            showDivs(slideIndex += n);
                        }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("{{prog.programme_type}}");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            x[slideIndex - 1].style.display = "";
                        }
                    </script>
                    {%endif%}
                    {%endfor%}
                    {% for prog in programme|slice:":2" %}
                    {%if prog.programme_type == 'COMPETITION' %}
                    {%if not forloop.last %}
                    <script>
                        document.getElementById('next_but').style = "display: '';";                   
                    </script>
                    {% endif %}
                    {%endif%}
                    {%endfor%}
                </div>

                <div class="tab-pane" id="tab-3">

                    {% for prog in programme%}
                    {%if prog.programme_type == 'SCHOLARSHIP' %}
                    <div class="w3-content w3-display-container">
                        <div class="row {{prog.programme_type}}">
                            <h3 class="text-info col-12">{{prog.title}} <span>|{{prog.date_from|date}} -
                                    {{prog.date_to|date}}|</span></h3>
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 my-auto">
                                <article class="col-md-12 single-post no-gutters border-top">
                                    <div class="single-post-content-wrapper text-justify">
                                        <p class="text-justify">
                                            {{prog.description|truncatechars:1000}} &ensp;
                                            <a href="{{prog.link_to_program}}" class="font-weight-bold text-success">See
                                                More..</a>
                                        <div class="row">
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_linkedin '{{prog.link_to_program}}' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_facebook '{{prog.link_to_program}}' '<i class="btn btn-primary btn-xs la la-facebook"></i>'%}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_twitter 'NEW!: #{{prog.title}}'   '{{prog.link_to_program}}'   '<i class="btn btn-info btn-xs la la-twitter"></i>' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                <a href="whatsapp://send?text=*{{prog.title}}:* {{prog.description|safe|truncatechars:600}}See More@ http://www.edoinnovate.com/"
                                                    data-action="share/whatsapp/share" target="_blank"> <i
                                                        class="btn btn-success btn-xs la la-whatsapp"></i>
                                                </a>
                                            </td>
                                        </div>
                                        </p>
                                    </div>

                                </article>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{%if prog.programme_banner%} {{prog.programme_banner.url}} {%else%} ../static/assets/img/edo/logo&badges/badge.png {%endif%}"
                                    alt="" class="img-fluid" id="tab_img_2">
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}

                    {% for prog in programme|slice:":1" %}
                    {%if prog.programme_type == 'SCHOLARSHIP' %}
                    <button style="display:none" id="prev_but" class="text-white btn btn-warning float-left"
                        onclick="plusDivs(-1)">
                        <i class="la la-arrow-left"></i>
                    </button>
                    <button class="text-white btn btn-warning float-right" id="next_but" style="display:none"
                        onclick="plusDivs(1); document.getElementById('prev_but').style.display='';">
                        <i class="la la-arrow-right"></i>
                    </button>
                    <script>
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n) {
                            showDivs(slideIndex += n);
                        }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("{{prog.programme_type}}");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            x[slideIndex - 1].style.display = "";
                        }
                    </script>
                    {%endif%}
                    {%endfor%}
                    {% for prog in programme|slice:":2" %}
                    {%if prog.programme_type == 'SCHOLARSHIP' %}
                    {%if not forloop.last %}
                    <script>
                        document.getElementById('next_but').style = "display: '';";                   
                    </script>
                    {% endif %}
                    {%endif%}
                    {%endfor%}
                </div>
                <div class="tab-pane" id="tab-4">
                    {% for prog in programme%}
                    {%if prog.programme_type == 'OPPORTUNITY' %}
                    <div class="w3-content w3-display-container">
                        <div class="row {{prog.programme_type}}">
                            <h3 class="text-info col-12">{{prog.title}} <span>|{{prog.date_from|date}} -
                                    {{prog.date_to|date}}|</span></h3>
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 my-auto">
                                <article class="col-md-12 single-post no-gutters border-top">
                                    <div class="single-post-content-wrapper text-justify">
                                        <p class="text-justify">
                                            {{prog.description|truncatechars:1000}} &ensp;
                                            <a href="{{prog.link_to_program}}" class="font-weight-bold text-success">See
                                                More..</a>
                                        <div class="row">
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_linkedin '{{prog.link_to_program}}' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_facebook '{{prog.link_to_program}}' '<i class="btn btn-primary btn-xs la la-facebook"></i>'%}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                {% post_to_twitter 'NEW!: #{{prog.title}}'   '{{prog.link_to_program}}'   '<i class="btn btn-info btn-xs la la-twitter"></i>' %}
                                            </td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td class="h4">
                                                <a href="whatsapp://send?text=*{{prog.title}}:* {{prog.description|safe|truncatechars:600}}See More@ http://www.edoinnovate.com/"
                                                    data-action="share/whatsapp/share" target="_blank"> <i
                                                        class="btn btn-success btn-xs la la-whatsapp"></i>
                                                </a>
                                            </td>
                                        </div>
                                        </p>
                                    </div>

                                </article>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{%if prog.programme_banner%} {{prog.programme_banner.url}} {%else%} ../static/assets/img/edo/logo&badges/badge.png {%endif%}"
                                    alt="" class="img-fluid" id="tab_img_2">
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}

                    {% for prog in programme|slice:":1" %}
                    {%if prog.programme_type == 'TRAINING' %}
                    {% if forloop.counter == 0 %}
                    <marquee behavior="" direction="">
                        There Are Currently No Avalible Programme in This Category <b>Please Check Back soon</b>
                    </marquee>
                    {%endif%}
                    {%endif%}
                    {%endfor%}

                    {% for prog in programme|slice:":1" %}
                    {%if prog.programme_type == 'OPPORTUNITY' %}
                    <button style="display:none" id="prev_but" class="text-white btn btn-warning float-left"
                        onclick="plusDivs(-1)">
                        <i class="la la-arrow-left"></i>
                    </button>
                    <button class="text-white btn btn-warning float-right" id="next_but" style="display:none"
                        onclick="plusDivs(1); document.getElementById('prev_but').style.display='';">
                        <i class="la la-arrow-right"></i>
                    </button>
                    <script>
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n) {
                            showDivs(slideIndex += n);
                        }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("{{prog.programme_type}}");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            x[slideIndex - 1].style.display = "";
                        }
                    </script>
                    {%endif%}
                    {%endfor%}
                    {% for prog in programme|slice:":2" %}
                    {%if prog.programme_type == 'OPPORTUNITY' %}
                    {%if not forloop.last %}
                    <script>
                        document.getElementById('next_but').style = "display: '';";                   
                    </script>
                    {% endif %}
                    {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </section>

    {% include "../pages/testimony.html" %}

    <section id="hub-gallery" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Edo Innovate</h2>
                <p>HUB & GALLERY</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-gallery">Gallery</li>
                        <li data-filter=".filter-hub">HUB</li>
                        <li data-filter=".filter-sartups">Sartups</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                {%if gallery%}
                {% for photo in gallery%}
                {%if photo.photo_type == 'Gallery' %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-gallery">
                    <img src="{%if photo.photo%}
                                {{photo.photo.url}}
                                {%else%}
                                ../static/assets/img/edo/logo&badges/badge.png
                                {%endif%}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{{photo.title}}</h4>
                        <p>{{photo.photo_type}}</p>
                        <a href="{%if photo.photo%}
                                {{photo.photo.url}}
                                {%else%}
                                ../static/assets/img/edo/logo&badges/badge.png
                                {%endif%}" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i
                                class="bx bx-plus"></i></a>
                        <a href="{{photo.get_absolute_url}}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {%endif%}
                {%if photo.photo_type == 'HUB' %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-hub">
                    <img src="{%if photo.photo%}
                                {{photo.photo.url}}
                                {%else%}
                                ../static/assets/img/edo/logo&badges/badge.png
                                {%endif%}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{{photo.title}}</h4>
                        <p>{{photo.photo_type}}</p>
                        <a href="{%if photo.photo%}
                                {{photo.photo.url}}
                                {%else%}
                                ../static/assets/img/edo/logo&badges/badge.png
                                {%endif%}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i
                                class="bx bx-plus"></i></a>
                        <a href="{{photo.get_absolute_url}}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {%endif%}
                {%if photo.photo_type == 'Sartups' %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-sartups">
                    <img src="{%if photo.photo%}
                                {{photo.photo.url}}
                                {%else%}
                                ../static/assets/img/edo/logo&badges/badge.png
                                {%endif%}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{{photo.title}}</h4>
                        <p>{{photo.photo_type}}</p>
                        <a href="{%if photo.photo%}
                                {{photo.photo.url}}
                                {%else%}
                                ../static/assets/img/edo/logo&badges/badge.png
                                {%endif%}" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i
                                class="bx bx-plus"></i></a>
                        <a href="{{photo.get_absolute_url}}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {%endif%}
                {%empty%}
                <div class="col-lg-12 col-md-12 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <div class="mx-auto text-center h4 text-primary p-3">
                            Photos will be Published Soon!
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%endif%}
            </div>
        </div>
    </section>

    {% include "../pages/news.html"  with blog=blog %}

    <section id="team" class="team">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>who are we without</h2>
                <p>OUR TEAM</p>
            </div>

            <div class="row">
                {% for member in team%}
                <div class="col-xl-2 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="{{forloop.counter}}00">
                    <div class="member">
                        <img id="team_img"
                            src="{%if member.picture%} {{member.picture.url}} {%else%} ../static/assets/img/edo/logo&badges/badge.png {%endif%}"
                            class="img-fluid rounded-circle" alt="" id="team_img">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>{{member.full_names}}</h4>
                                <span>{{member.position}}</span>
                            </div>
                            <div class="social">
                                <a href="{{member.link_to_your_whatsapp_number}}"><i class="icofont-whatsapp"></i></a>
                                <a href="{{member.link_to_your_twitter_account}}"><i class="icofont-twitter"></i></a>
                                <a href="{{member.link_to_your_linkedin_account}}"><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>

        </div>
    </section>

    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">
            <div class="section-title text-left" data-aos="fade-up">
                <h2>Powered By:</h2>
                <p>OUR PARTNERS</p>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/aws.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/08-marydel-innovation-hub-370x208.jpg" class="img-fluid"
                        alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/08-Zenolight.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/09-galary13-200x200.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/Drake.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/Facebook.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/Firstbank.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/google.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/HPLife.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/Linkedin.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/Microsoft.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/Siemiens.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="../static/assets/img/edo/clients/xignma.png class=" img-fluid" alt="">
                </div>
            </div>

        </div>
    </section>
    {% include "../pages/contact.html" %}


</main>


{% endblock content %}