{%load static%}
{% if blog%}
<section id="news">
    <div class="container">

        <div class="section-title">
            <h1 class="pb-2">Press Release
                <p class="h6">Blog</p>
            </h1>

        </div>

        <div class="row">
            {% for news in blog%}
            <div class="col-md-4" data-scroll-reveal="enter from the bottom after 0.{{forloop.counter}}s">
                <div class="rounded px-2 border"
                    style="border-top-right-radius: 1em !important; border-bottom-left-radius: 1em !important;">
                    <article class="col-md-12 single-post no-gutters">

                        <h1 class="py-2 h4">
                            <strong class="h4 pt-2 py-1">
                                <a href="{{news.get_absolute_url}}" class="text-dark">{{news.title}}</a>
                            </strong>
                        </h1>
                        <div class="image-wrapper float-left pr-3">
                            <img src="{%if news.caption_picture%}
                            {{news.caption_picture.url}}
                            {%else%}
                            {%static 'assets/img/edo/logo&badges/badge.png' %}
                            {%endif%}" alt="gist" id="tab_img" height="100" width="100" />
                        </div>
                        <div class="single-post-content-wrapper text-justify">
                            {{news.content|safe|striptags|truncatechars:200}}
                            <a href="{{news.get_absolute_url}}" class="font-weight-bold text-success"><br>
                                 See
                                Details..</a>
                        </div>
                    </article>
                    <div class="row pb-2 text-center mx-auto pt-2">
                        <div class="col-8 float-left">
                            &ensp;{{news.views}}&thinsp;<i class="la la-eye h6"></i>
                            |&ensp;{{news.total_comments}}&thinsp;<i class="la la-comment h6"></i>
                        </div>
                    </div>
                </div>
            </div>
            {%empty%}
            <!-- No Avaliable Publication -->
            {%endfor%}
        </div>
    </div>
</section>
{% endif%}