<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">
            {%if testimonies%}
            {%for test in testimonies%}
            <div class="testimonial-item">
                <img src="{%if test.add_a_photo%} {{test.add_a_photo.url}} {%else%} ../static/assets/img/edo/logo&badges/badge.png {%endif%}"
                    class="testimonial-img" alt="">
                <h3>{{test.full_names}}</h3>
                <h4>Benefitiary of &amp; {{test.programme_benefited_from}}</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{test.testimony}}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>
            {%endfor%}
            {%endif%}


        </div>

    </div>
</section>