.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-out .7s;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    padding: 0;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


#slide_img{
    height: 100%; width: 100%;
}
@media (max-width: 768px) {
    #hero, #slide_img{
        height: 75% !important;
    }
}
.slide1 {
    background: url("../img/edo/slides/slide-1.jpg") top center;
}

.slide2 {
    background: url("../img/edo/slides/slides-2.jpg") top center;
}

.slide3 {
    background: url("../img/edo/slides/slides-3.jpg") top center;
}

.slide4 {
    background: url("../img/edo/slides/slides-4.jpg") top center;
}


body {
    font-family: 'Coiny', cursive;
    height: 100vh;
}

header .carousel-inner .item img {
    width: 100%;
}

.carousel-caption {
    padding-bottom: 150px;
}

.carousel-caption h2 {
    font-size: 50px;
    text-transform: uppercase;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}




/* ignore the code below */


.link-area {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 40px;
    background: tomato;
}

.link-area a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}


.about .play-btn { 
    background: radial-gradient(#37424a 50%, rgb(199 197 196 / 40%) 52%) !important; 
}

.about .play-btn::before {    
    border: 5px solid rgb(193 178 174 / 70%) !important;    
    background: rgba(198, 16, 0, 0) !important; 
  }
  
  .about .play-btn:hover::after {
    border-left: 15px solid #eadcd8 !important;     
  }
  
  #tab_img{
    height: 6em;
    width: 10em;
    border-radius: 2px;
  }
#tab_img_2{ 
    border-radius: 1em;
}
#padis{
    list-style: none;  
}
#padis2{ 
    padding-top: 3em;
}
@media (max-width: 768px) {
    #tab_img{
        height: 3em;
        width: 8em;
      }
      #padis{
        padding: 0;
    }
    #padis2{       
        padding-top: 5px;
    }
}

/* pop form */
.form-popup { 
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000086;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-popup:target {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
}

/* Add styles to the form container */
.form-container {
    border-radius: 1em;
    max-width: auto;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}




/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
@media (max-width: 768px) {
    #popform_size{
        padding: 1em;
    }
}

header {
    /* background: rgb(21 34 43 / 24%); */
    background: rgb(54 65 74);
}

#team_img{
    width: 10em;
height: 10em;
}

element.style {
}
.team .member { 
background: #ffffff00  !important;
}
@media (max-width: 768px) {
#team_img{
    width: auto;
    height: auto;
}

}

    header {
        width: 100vw;
        margin: 0;
        float: left;
        padding: 1rem 0;       
    }

 
    #aws_reg_sec {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        background-color: #00000086;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #aws_reg_cancel {
        position: relative;
        top: 3em !important;
        margin-right: 10em;
        z-index: 99;
    }

    @media (max-width: 768px) {
        #aws_reg_cancel {
            margin-right: 2em;
            top: 2em !important;
        }
    }