html, body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}
/***********************************************************************
* Nave Bar
***********************************************************************/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(240 246 249);
}
/***********************************************************************
* LOADER
***********************************************************************/
.loader{
    position: fixed;
    z-index: 99;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #000000a3; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader>img{
    width: 200px;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100%{opacity: 0;
     visibility: hidden;
}
}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
#nav_push{
    position: relative;
    right: 3em;
}
#slide_caption{
    position: relative !important;
    background:#00000070;
    padding: 10px;
    top: -60vh !important;
    left: 0em;
    width: 38em;
    border-radius: 2em;
}
@media (max-width: 768px) {
    #nav_push{
        position: relative;
        right: unset;
    }
    #navbarScroll{
        background: #ffff;
        padding: 1em;
        border-radius: 1em;
    }
    #slide_caption{
        background:#00000070;
        padding: 10px;
        top: -13em !important;
        position: relative !important;
        left: 0px;
        width: auto;
        border-radius: unset;
        height: 13em;   
    }
   
}
/* .nav-link{

}
.nav-link:hover{

} */
#home_main_sec{
  position: relative;
  top: 15px;
  padding-top: 2em;
}
@media (max-width: 768px) {
    #home_main_sec{
      padding-top: unset;
      }
}

/***********************************************************************
*  Tab SECTION
***********************************************************************/



/* Style the tab */
.tab {
    

    background-color: #37424a9c;
    /* border-radius: 1em; */
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer; 
    padding: 8px;
    transition: 0.3s;
    font-size: 18px;
    /* font-size: 15px; */
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #344652eb;
    color: #ffff;
    /* font-weight: bold; */
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffff ;
    color:#37424ac2 !important;
    font-weight: bolder !important;
    border-radius: 5em;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    /* border: 1px solid #ccc; */
    /* border-top: none; */
}



/***********************************************************************
*  caouroselSECTION
***********************************************************************/


header {
    background: rgb(60 59 68 / 0%);
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.5, 1.5);
    }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.1, 1.1);
    }
}

.carousel-item >img {
    -webkit-animation: zoom 15s;
    animation: zoom 15s;
}
.carousel-item >img {
height: 95vh;
}
@media (max-width: 768px) {
    .carousel-item >img {
        height: unset;
        }
}

/***********************************************************************
*  ZOOM ON HOVER
***********************************************************************/
* {
    box-sizing: border-box;
  }

  .zoomonhover {
    padding: 50px;
    /* background-color: green; */
    transition: transform 1.2s;
   
    width: auto;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoomonhover:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
 
    /* -webkit-animation: zoom 15s;
    animation: zoom 15s; */
  }


/***********************************************************************
*  FLIPPER
***********************************************************************/


  .ex-card:hover .card-2 {
    transform: rotateY(180deg) translateX(100%);
}

.ex-card {
    perspective: 600px;
}

.card-2 {
    transition: 0.7s;
    transform-style: preserve-3d;
    transform-origin: right;
    position: relative;
    width: fit-content;
    height: 18em;   
   
}

.card-front,
.card-back {
    backface-visibility: hidden;
    /* position: absolute; */
    position: relative;
    
}

.card-back {
    transform: rotateY(180deg) translateZ(1px);
    top: -15em;
}

/* **************************************** */
.tooltip {
    background-color: transparent;
    border-radius: 8px;
    color: transparent;
    font-size: 0.7em;
    position: absolute;
    transition: 0.5s;
    padding: 0.5em 1em;
    margin-top: 0;
    z-index: 1000;
}

.ex-tooltip:hover>.tooltip {
    background-color: yellow;
    color: black;
    font-size: 1.2em;
}






@media (max-width: 768px) {
    #popform_size{
        padding: 1em;
    }
}

header {
    /* background: rgb(21 34 43 / 24%); */
    background: rgb(54 65 74);
}

#team_img{
    width: 10em;
height: 10em;
}

#navbarScrollingDropdown, #nav_link{
    color: rgb(2 0 25);
}
#nav_link>.active{
    color: red !important;
}

.team .member { 
background: #ffffff00  !important;
}


#aws_reg_sec {
    position: fixed; 
    z-index: 99;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: #00000086;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aws_reg_cancel {
    position: relative;
    top: 1em !important;
    margin-right: 10em;
    z-index: 99;
}

@media (max-width: 768px) {
    #aws_reg_cancel {
        margin-right: 2em;
        top: 2em !important;
    }
}



    @media (max-width: 768px) {
        #aws_reg_cancel {
            margin-right: 2em;
            top: 2em !important;
        }
    }
    
#color_bullet .color_bullet_li::before {       
    content: "\2022";  
    color: #f78a02;
    font-weight: bold; 
    display: inline-block; 
    width: 2em;
    margin-left: 0em;         
}

#color_bullet .color_bullet_li_2::before {       
    content: "\2022";  
    color:  #168dde;;
    font-weight: bold; 
    display: inline-block; 
    width: 2em; 
    margin-left: 0em;        
}

.number-circle-list {
        list-style: none;
        padding-left: 1rem;
        counter-reset: circle-counter;
}

.number-circle-list--list-item {
    counter-increment: circle-counter;
    margin-bottom: 0.25rem;
}

.number-circle-list--list-item:before {
    content: counter(circle-counter);
    background-color: #e1e1e1;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: black;
    text-align: center;
    margin-right: 0.5rem;
    position: relative;
    top: -2px;
}

.number-circle-list--list-item:last-child {
    margin-bottom: 0;
}

.number-circle-list--list-item .number-circle-list--list-item {
    margin-left: 0.25rem;
}

.number-circle-list--primary-color .number-circle-list--list-item:before {
    background-color: #0d5cab;
    color: white;
}

.number-circle-list--secondary-color .number-circle-list--list-item:before {
    background-color: #72c267;
    color: white;
}

.number-circle-list--tertiary-color .number-circle-list--list-item:before {
    background-color: #168dde;
    color: white;
}

#color_bullet .warn_li:before {
    background-color:#f78a02;
    color: white;
}
  

#stage_sec {
    padding: 0em !important;
    overflow: visible;
    margin-bottom: 3em;
    }
    
    #note_sec {
    padding-top: 4em;
    
    }
    
    @media (max-width: 768px) {
    #note_sec {
    padding-top: 1em;
    }
    
    #stage_sec {
    padding: 0em !important;
    
    }

    }
#carouselExampleFade{
    height: 37em;
    
}

@media (max-width: 768px) {
    #carouselExampleFade{
        height: 15em;
    }
}



/***********************************************************************
* HALL PAGE
***********************************************************************/
#hall_page_sec{
    padding-top: 20em;
}

@media (max-width: 768px) {
    #hall_page_sec{
        padding-top: 5em;
    }
}