{% load static %}

<section style="padding-top:3.5em; padding-bottom: 0;">
    <div class="jumbotron p-lg-5">


        <div class="container">
            <h1 class="display-5 text-left display-4">Computer Appreciation</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="row py-2">
                        <div class="col-md-6 mx-auto text-center order-lg-12">
                            <img
                                src="{%if programme.programme_banner%} {{programme.programme_banner.url}} {%else%} ../static/images/logo/badge.png {%endif%}"
                                class="img-fluid rounded-circle img-thumbnail"
                                height="100"
                                width="250"
                                data-scroll-reveal="enter from the bottom after 0.3s"
                            >
                        </div>
                        <div class="col-md-6 order-lg-1">
                            <p class="lead py-lg-5">
                                The Computer Appreciation training organised by Edo Innovates introduces individuals to
                                the comprehensive use of Microsoft products.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <p class="col-md-10 mx-auto text-center">
                            <em>
                                <b>
                                    Learners who go through the one week
                                    intensive program would be able to:
                                </b>
                            </em>
                        </p>
                        <hr class="my-4">
                        <div class="col-md-4">
                            <p class="p-2 card">
                                Demonstrate proficiency in the use of high Microsoft
                                Excel, Power Point and Word.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="p-2 card">
                                The program is open to anyone who is willing to gain deeper insights into Microsoft
                                Office products.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="p-2 card">
                                Click the button below to Register for this programme &ensp; &ensp; &ensp;
                                &ensp; &ensp; &ensp;&ensp; &ensp; &ensp;&ensp; &ensp; &ensp;&ensp; &ensp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <hr class="my-2">
        <div class="text-center mx-auto">
            <p></p>
            <a
                class="btn btn-primary btn-sm rounded-pill"
                data-toggle="modal"
                data-target="#exampleModal"
                target="_blank"
                href="https://forms.gle/CPQe2VxhLu1V3bLY6"
                role="button"
            > &ensp;Click here to register &ensp;</a>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                >
                    <div
                        class="modal-dialog"
                        role="document"
                    >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5
                                    class="modal-title"
                                    id="exampleModalLabel"
                                >Application Form</h5>
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe
                                    src="{{programme.application_link}}"
                                    width="100%"
                                    height="100%"
                                    frameborder="0"
                                    marginheight="0"
                                    marginwidth="0"
                                    class=""
                                    style="animation-delay: 1s"
                                >Loading…</iframe>
                            </div>
                            <div class="modal-footer">
                                <button
                                    type="button"
                                    class="btn btn-danger btn-sm"
                                    data-dismiss="modal"
                                >Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="programme_appplication_form" class="d-none">
                    <div class="pt-5 text-right">
                        <a href="javascript:void(0);" id="programme_appplication_form_cancel"
                            onclick="document.getElementById('programme_appplication_form').className='d-none';">
                            <b class="h1 text-danger font-weight-bold">&times;</b></a>
                    </div>
                    <iframe src="{{programme.application_link}}" width="100%" height="100%" frameborder="0"
                        marginheight="0" marginwidth="0" class="pt-4 col-md-12 animated zoomIn"
                        data-scroll-reveal="enter from the bottom after 0.3s"
                        style="animation-delay: 1s">Loading…</iframe>
                </div> -->
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>
{% include "../pages/contact.html" %}