{%load static%}
<section style="padding-top:3.5em; padding-bottom: 0;">
    <div class="jumbotron p-lg-5">
        <h1 class="display-4">
            <img
                src="{%static 'assets/img/edo/opportunities/power edo group.jpg' %}"
                height="70"
                width="80"
            >
            <span class="h1">Power Edo Group Edo</span>
        </h1>
        <p
            class="lead"
            data-scroll-reveal="enter from the left after 0.3s"
        >
            In a continued effort to empower Edo residents and indigenes, EdoInnovates in collaboration with Power Edo Bootcamp proudly presents Power Edo Bootcamp
        </p>
        <hr class="my-4">
        <div class="container">
            <div
                class="row"
                data-scroll-reveal="enter from the right after 0.3s"
            >
                <div class="col-md-6">
                    <img
                        src="{%static 'assets/img/edo/opportunities/power edo group.jpg' %}"
                        class="img-fluid"
                    >
                </div>
                <div class="col-md-6">
                    <h1 class="h4 py-2"><u>Features</u></h1>
                    <div class="">
                        <p class="p-2 card text-dark">
                            Hands-on workshops on the Microsoft Power Platform
                        </p>
                    </div>
                    <div class="">
                        <p class="p-2 card text-dark">
                            Career talks with Microsoft Most Valued Professionals
                        </p>
                    </div>
                    <div class="">
                        <p class="p-2 card text-dark">
                            Project Building with teams
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div
            class="text-center mx-auto"
            data-scroll-reveal="enter from the bottom after 0.5s"
        >
            <p>
                <small>
                    <!-- <span>Application closes <span>20th February 2021</span></span> -->
                    <br>
                    <span class="text-success">
                        Click the button below to Apply for this programme
                    </span>
                </small>
            </p>
            <!-- <a class="btn btn-lg rounded-pill text-white font-weight-bold" href="javascript:void(0);"
                onclick="document.getElementById('programme_appplication_form').className='d-block mx-auto';"
                role="button"
                style="background: rgb(131,58,180); background: linear-gradient(319deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.9332107843137255) 50%, rgba(252,176,69,1) 100%)">
                Apply
            </a> -->
            <!-- Button trigger modal -->

            <button
                style="background: rgb(61, 197, 20);"
                type="button"
                class="btn btn-primary"
            >
                <a
                    href="http://rdre.me/PowerEdoBootcamp"
                    style="text-decoration: none;color:white;border:0"
                >
                    Apply
                </a>
            </button>

        </div>

    </div>
</section>

<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>
{% include "../pages/contact.html" %}