{%load static%}
<section style="padding-top:3.5em; padding-bottom: 0;">
    <div class="jumbotron p-lg-5">
        <h1 class="display-4">
            <img
                src="{%static 'assets/img/edo/opportunities/power edo group.jpg' %}"
                height="70"
                width="80"
            >
            <span class="h1">Power Platform User Group Edo</span>
        </h1>
        <p data-scroll-reveal="enter from the left after 0.3s">
            Did you know? According to the IDC, in the next five years, 500 million more apps will be created. That’s more than all the apps built in the last 40 years.

        <p>
            Sadly, there aren’t enough professional code-first developers to go around for the volume of work ahead to modernize businesses. Currently, developers are already slammed with a long technology to-do list of tasks and are being asked to fundamentally reinvent how the business works.
        </p>
        <p>
            To bridge this gap and reduce the workload, many developers and organizations have relied on low-code and automation. The rate of such automations will increase at a faster rate in the next 5 years, and we need to get Africans ready for this. Low-code technologies are here to empower more people, regardless of coding ability.
        </p>
        <p>
            Microsoft’s Power Platform is one of them. It’s an amazing tool that enables you create apps, visualize data, automate processes and build virtual assistants without code. During this 5days bootcamp, we would be guiding you on your path to build solutions without writing code. Guess what we’ve also got in store for participants?
        </p>
        <p>
            Participants during this bootcamp would be divided into teams and have the opportunity of working on a capstone project. This project would help them build relevant soft skills such as critical thinking, problem-solving, oral communication skills, research skills, and teamwork. You also learn to connect with the community and analyze important issues, problems, and ideas.
        </p>
        <p>
            We also have tons of guests who would be inspiring you all to achieve more. This bootcamp is proudly supported by Edo State Government, Microsoft, Edojobs, DBrown Consulting and Microsoft Learn Student Ambassadors in Nigeria.
        </p>
        <ul style="list-style-type: dash;">
            <li>
                <strong>Date:</strong> May 17th - 21st, 2021
            </li>
            <li>
                <strong>Duration:</strong> This bootcamp begins 10:00am each day and ends by 4:30pm.
            </li>
            <li>
                <strong>Location:</strong> Edo Innovation Hub
            </li>
        </ul>
        <!-- <p>
            <a
                href="rdre.me/PowerEdoBootcamp"
                style="list-style-type: none;text-decoration:none"
            >Register here</a>
        </p> -->
        <p>
            For this bootcamp, we would be accepting only 50 participants. You would receive an email from us on with the next steps days after registration.
        </p>
        </p>
        <hr class="my-4">
        <div class="container">
            <div
                class="row"
                data-scroll-reveal="enter from the right after 0.3s"
            >
                <div class="col-md-6">
                    <img
                        src="{%static 'assets/img/edo/opportunities/power edo group.jpg' %}"
                        class="img-fluid"
                    >
                </div>
                <div class="col-md-6">
                    <h1 class="h4 py-2"><u>Features</u></h1>
                    <div class="">
                        <p class="p-2 card text-dark">
                            Hands-on workshops on the Microsoft Power Platform
                        </p>
                    </div>
                    <div class="">
                        <p class="p-2 card text-dark">
                            Career talks with Microsoft Most Valued Professionals
                        </p>
                    </div>
                    <div class="">
                        <p class="p-2 card text-dark">
                            Project Building with teams
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div
            class="text-center mx-auto"
            data-scroll-reveal="enter from the bottom after 0.5s"
        >
            <p>
                <small>
                    <!-- <span>Application closes <span>20th February 2021</span></span> -->
                    <br>
                    <span class="text-success">
                        Click the button below to Apply for this programme
                    </span>
                </small>
            </p>
            <!-- <a class="btn btn-lg rounded-pill text-white font-weight-bold" href="javascript:void(0);"
                onclick="document.getElementById('programme_appplication_form').className='d-block mx-auto';"
                role="button"
                style="background: rgb(131,58,180); background: linear-gradient(319deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.9332107843137255) 50%, rgba(252,176,69,1) 100%)">
                Apply
            </a> -->
            <!-- Button trigger modal -->

            <button
                style="background: rgb(61, 197, 20);"
                type="button"
                class="btn btn-primary"
            >
                <a
                    href="http://rdre.me/PowerEdoBootcamp"
                    style="text-decoration: none;color:white;border:0"
                >
                    Apply
                </a>
            </button>

        </div>

    </div>
</section>

<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>
{% include "../pages/contact.html" %}