{% extends 'base/generic_base.html' %}
{% load static %}
{% load i18n %}
{% load social_share %}
{% block content %}

{%if request.path == "/programme/aws-restart-edo/"%}
{% include "contents/aws.html" %}
{% elif request.path == "/programme/pluralsight/"%}
{% include "contents/pluralsite.html" %}
{% elif request.path == "/programme/computer-appreciation-program/"%}
{% include "contents/computerappreciation.html" %}
{% elif request.path == "/programme/power-edo-bootcamp/"%}
{% include "contents/power-edo-bootcamp.html" %}
{% elif request.path == "/programme/webdesignbootcamp/"%}
{% include "contents/designbootcamp.html" %}
{%else%}
<div
    class="container my-5"
    style="padding-top: 4em;"
>
    <div class="row">
        <h1
            class="col-md-6 mx-auto text-center font-weight-bold py-3"
            data-scroll-reveal="enter from the left after 0.3s"
        >
            {{programme.title|upper}}
        </h1>
        <div class="col-md-12 border-bottom py-3">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <img
                        src="{%if programme.programme_banner%} {{programme.programme_banner.url}} {%else%} ../static/images/logo/badge.png {%endif%}"
                        class="img-fluid rounded-lg img-thumbnail"
                        data-scroll-reveal="enter from the bottom after 0.3s"
                    >
                </div>
                <figcaption class="d-block text-center col-md-12 py-lg-5">
                    <p class="text-justify">
                        {{programme.description|safe}}
                    </p>
                </figcaption>
                <div
                    class="col-md-6 mx-auto"
                    data-scroll-reveal="enter from the bottom after 0.3s"
                >
                    <img
                        src="{%static 'assets/img/edo/comment.gif'%}"
                        alt=""
                    >
                    <div class="pt-2">
                        <a
                            href="http://rdre.me/PowerEdoBootcamp"
                            class="btn btn-outline-success btn-sm rounded-pill"
                            onclick="document.getElementById('programme_appplication_form').className='d-block mx-auto';"
                        >
                            &ensp;Get started&ensp;</a>
                    </div>
                </div>




                <div
                    id="programme_appplication_form"
                    class="d-none"
                    data-scroll-reveal="enter from the bottom after 0.3s"
                >
                    <div class="pt-5 text-right">
                        <a
                            href="javascript:void(0);"
                            id="programme_appplication_form_cancel"
                            onclick="document.getElementById('programme_appplication_form').className='d-none';"
                        >
                            <b class="h1 text-white font-weight-bold">&times;</b></a>
                    </div>
                    <iframe
                        src="{{programme.application_link}}"
                        width="100%"
                        height="100%"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0"
                        class="pt-4 col-md-12 animated zoomIn"
                        data-scroll-reveal="enter from the bottom after 0.3s"
                        style="animation-delay: 1s"
                    >Loading…</iframe>
                </div>

            </div>
        </div>
    </div>

</div>

{%endif%}

{% endblock content %}